<footer class="black-footer">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
      <div class="footer-section center-text">
        <h3>HORARIO</h3>
        Podemos atenderte en el siguiente horario <br />
        Lunes a viernes: 10:00 – 20:00 <br />
        Sábados: 9:00 – 14:00 <br />
        Domingos: Cerrado <br />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="footer-section center-text">
        <h3>CONTACTA</h3>
        Av. Quito <br />
        y 9 de Octubre <br />
        Frente al Palacio de Justicia <br />
        Tel: 925 62 19 62<br />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="footer-section center-text">
        <h3>Nuestras Redes</h3>
        <mat-grid-list cols="2" rowHeight="2:1">
          <br />
          <a href="">
            <div class="image-section">
              <img
                src="https://th.bing.com/th/id/OIP.6z-tvw6fGJF22H0Y17hdNwHaHw?pid=ImgDet&rs=1"
                alt="imagen2"
                width="50"
              />
            </div>
          </a>
        </mat-grid-list>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</footer>
<footer class="black-footer">Copyright © 2023</footer>
